
.controls{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.agrega{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.button{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    background-color: rgb(178, 88, 238);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px;
}